<%# <h1>SimplePages#about</h1>
<p>Find me in app/views/simple_pages/about.html.erb</p> %>

<div class="container" id="about">
	<h1>About iCare Jewels</h1>
	<br>
	<p>Modern, classic and eclectic.</p>
	<p>iCare Jewels offers a fine selection of fashionable jewelry and accessories for customers like you who are unique, smart and beautiful inside and out.</p>
	<p>At iCare Jewels, we are passionate about never-ending love and care.  These are represented in our Heart, Angel and Infinity Collections.  We believe that there is always a joy in giving.</p>
	<%= image_tag("about.jpg", size: "300") %>
</div>


