<%# <h1>SimplePages#about</h1>
<p>Find me in app/views/simple_pages/about.html.erb</p> %>

<h1>About Us</h1>
<br>
<h3>We are your friendly bike-to-go shop in the vibrant city of Berlin. We believe that used bikes should be enjoyed and be brought back to the roads again.</h3>
<h3>We are eco-friendly and we know you are too!</h3>


