<%# <h1>SimplePages#about</h1>
<p>Find me in app/views/simple_pages/about.html.erb</p> %>

<div class="container-fluid anchor" id="about">
	<h1>About Us</h1>
	<br>
	<p>We are your friendly bike-to-go shop in the vibrant city of Berlin.</p>
	<p>We believe that used bikes should be enjoyed and be brought back to the roads again.</p>
	<%= image_tag("bike4.jpg", class: "img-responsive") %>
	<p>We are eco-friendly and we know you are too!</p>
</div>


