<%# <h1>SimplePages#contact</h1>
<p>Find me in app/views/simple_pages/contact.html.erb</p> %>

<div class="container-fluid anchor">
	<h2>You can find us here:</h2>
	<br>
	<p>Bike Berlin</p>
	<p><span class="glyphicon glyphicon-home"></span>Bikestrasse 143</p>
	<p>10249 Berlin</p>
	<br>
	<p><span class="glyphicon glyphicon-phone"></span>Tel. 01523-1234567</p>
	<p><span class="glyphicon glyphicon-envelope"></span> hello@bike-berlin.com</p>
</div>