<%# <h1>SimplePages#contact</h1>
<p>Find me in app/views/simple_pages/contact.html.erb</p> %>

<h2>You can find us here</h2>
<br>
<h3>Bike Berlin</h3>
<h4>Bikestrasse 143</h4>
<h4>10249 Berlin</h4>
<br>
<h4>Tel. 01523-1234567</h4>
<h4>hello@bike-berlin.com</h4>
