<%# <h1>SimplePages#contact</h1>
<p>Find me in app/views/simple_pages/contact.html.erb</p> %>

<div class="container-fluid anchor">
	<h2>You can find us here:</h2>
	<br>
	<p><strong>iCare Jewels</strong></p>
	<p><span class="glyphicon glyphicon-home"></span>Goldstrasse 143</p>
	<p>10249 Berlin</p>
	<br>
	<p><span class="glyphicon glyphicon-phone"></span>Tel. 01523-1234567</p>
	<p><span class="glyphicon glyphicon-envelope"></span> hello@icarejewels.com</p>
	<%= image_tag("iCare.jpg", size: "200") %>
</div>