<%# <h1>SimplePages#contact</h1>
<p>Find me in app/views/simple_pages/contact.html.erb</p> %>

<div class="container-fluid anchor">
	<h2>You can find us here:</h2>
	<br>
	<h3>Bike Berlin</h3>
	<h4><span class="glyphicon glyphicon-home"></span>Bikestrasse 143</h4>
	<h4>10249 Berlin</h4>
	<br>
	<h4><span class="glyphicon glyphicon-phone"></span>Tel. 01523-1234567</h4>
	<h4><span class="glyphicon glyphicon-envelope"></span> hello@bike-berlin.com</h4>
</div>