<%# <p>Welcome! The date and time is <%= Time.now %> <%#</p> %>

<div class="container-fluid anchor">
	<h1>Welcome to Bike Berlin!</h1>
	<%= image_tag("bike1.jpg", class: "img-responsive") %>
	<p>Your source for used bikes in Berlin.</p>
</div>