<%# <p>Welcome! The date and time is <%= Time.now %> <%#</p> %>

<div class="container anchor">
	<%= image_tag("ab.jpg", class: "img-responsive") %>
	<br>
	<h2>Be an Advocate for iCare Jewels!</h2>
	<h3>Let's help the sick children of Cancer Warriors Foundation. </h3>
</div>