<div class="container">
  
	<div id="icare-carousel" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ol class="carousel-indicators">
         <li data-target="#icare-carousel" data-slide-to="0" class="active"></li>
         <li data-target="#icare-carousel" data-slide-to="1"></li>
         <li data-target="#icare-carousel" data-slide-to="2"></li>
  		</ol>

  		<!-- Wrapper for slides -->
  		<div class="carousel-inner" role="listbox">
    	  <div class="item active">
      		<%= link_to image_tag("heroimg1.jpg", class: "img-responsive", alt: "woman wearing jewelry"), products_path %>
        	<div class="carousel-caption">
        		<h3>Bringing out your inner Glow!</h3>
          </div>
    	  </div>
  
        <div class="item">
          <%= link_to image_tag("heroimg2.jpg", class: "img-responsive", alt: "sale announcement"), products_path %>
          <div class="carousel-caption">
            <h3 class="caption2">Sophisticated Sparkle ... coming very soon!</h3>
          </div>
        </div>
 
        <div class="item">
          <%= link_to image_tag("heroimg3.jpg", class: "img-responsive", alt: "woman wearing jewelry"), products_path %>
        </div>
      </div>

  		<!-- Controls -->
  		<a class="left carousel-control" href="#icare-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   			<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#icare-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>
  </div>

</div>