<div class="container">
	<h3>Thanks for being awesome!</h3>
	<div class="panel panel-default">
  		<div class="panel-body">
    		<p>We have received your message and would like to thank you for writing to us. If your inquiry is urgent, please use the telephone number listed on the Contact page to talk to one of our staff members. Otherwise, we will reply by email as soon as possible.</p>
    	</div><!-- / panel-body -->
	</div><!-- / panel -->
</div>