<body style="style="margin: 0; padding: 0;>

	<table align="center"  bgcolor=" #ffe6ea" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">

  	  	<tr>
     		<td align="center" style="padding: 30px 50px; font-size: 38px;">
     		Smile and choose to be Happy!</td>   

    	</tr>

    	<tr>
    		<td align="center" valign="top" style="padding: 20px 50px;">
    			<p style="font-size: 24px;"><%= @message %></p>
    		</td>
    	</tr>


	</table>
</body>