<body style="style="margin: 0; padding: 0;>

	<table align="center"  bgcolor=" #ffe6ea" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">

		<tr>
           <td align="center">
                <img src="https://growthmax.com/wp-images/order-processed.jpg" alt="Order processed" width="300" height="300" style="display: block;" />
            </td>
        </tr> 
             
        <tr>
     		<td align="center" style="padding: 30px 50px; font-size: 30px;">
     		Smile and enjoy your product!</td>   
    	</tr>

    	<tr>
    		<td style="padding: 20px 50px; font-size: 20px;">
                <p><%= @product.name %></p>
                <p><%= @product.name %></p> 
            </td>
    	</tr>

    </table>
</body>