 <body style="style="margin: 0; padding: 0;>

 <table width="600" border="0" bgcolor="#F2F2F2" cellspacing="0" cellpadding="20" id="body_item_container">
        <tr>
          <td align="center" valign="top" class="body_item_content">
            <table width="100%" border="0" cellspacing="0" cellpadding="20">
              <tr>
                <td align="center" valign="top">
                  <h2 style="color: #474544; font-size: 20px; text-align: center;">Thank You for your order!</h2>
                  <p style="color: #666666; font-size: 14px; line-height: 22px; text-align: center;">Your order from iCare Jewels has been received. Here are the details of your purchase.</p>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <%= if (@product.image_url != nil)
                    image_tag(@product.image_url, class: "img-responsive", size: "300") 
                  end %>
                  <h2 style="color: #474544; font-size: 20px; text-align: center;">
                    <%= @product.name %></h2>
                  <p style="color: #666666; font-size: 14px; line-height: 22px; text-align: center;"> Price: € <%= @product.price %></p>
                </td>
              </tr>
          </table> 
        </td>
      </tr>
    </table>


      <table width="600" border="0" bgcolor="#806C00" cellspacing="0" cellpadding="20">
        <tr>
          <td align="center" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="20">
              <tr>
                <td>
                  <h2 style="color: #F4F4F4; font-size: 20px; text-align: center;">Here are some other things you may like.</h2>
                  <p style="color: #F4F4F4; font-size: 24px; line-height: 28px; text-align: center;">Products</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
  