// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
}

#product_form {
	max-width: 500px;
	margin: 0 auto;
}

.product-image {
	text-align: center;
}

hr {
	height: 2px;
	background: #b39800;
	border: none;
}

.product-info .product-rating {
	padding: 10px;
}

.product-rating h3 {
	text-transform: uppercase;
	color: #b39800;
}

