// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body  {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
  	min-height: 100vh;
}

.navbar-inverse .navbar-collapse  {
	background-color: #1a1a00;
}

.anchor  {
	padding-top: 20px;
}

h1, h2, h3, h4, p  {
	text-align: center;
}

p {
	font-size: 1.5em;
}

.product-name {
	color: #1a0f00;
}

.icare {
	color: #998200;
}

span {
	padding-right: 10px;
}

footer  {
	margin: auto auto 0 auto;
	width: 100%;
	text-align: center;
	background: #ff9900;
	color: #000000;
}

img {
	display: block;
	width: auto;
	margin: auto;
	padding-bottom: 20px;
}