// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body  {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
  	min-height: 100vh;
}

#branding {
	display: inline-block;
}

#search {
	padding-top: 80px;
}

// NAV
.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
}

.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: #cc8800;
}

p, ol, ul, td {
	font-size: 15px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #1a1a1a;
}

.navbar-toggle {
	background-color: #050a14;
}

hr {
	color: blue;
}

//CAROUSEL
.carousel-indicators .active {
	background-color: #ff9900;
}

.carousel-indicators li {
	background-color: #a3a3c2;
}

.product-name {
	color: #ff9900;
}

.anchor  {
	padding-top: 20px;
}

h1, h2, h3, h4  {
	text-align: center;
}

p {
	font-size: 1.5em;
}

//PRODUCT FORM
button, input {
	color: #000;
}

//CONTACT
#contact {
	padding-bottom: 20px;
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H7DrgRFFirq65eml/videoblocks-animated-retro-telephone-white-3d-icon-loop-modules-for-edit-with-alpha-matte_sowd0evzz_thumbnail-full04.png");
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	display: inline-block;
}

#contact-info h2 {
	text-align: left;
}

span {
	padding-right: 15px;
}

//FOOTER
footer  {
	margin: auto auto 0 auto;
	width: 100%;
	text-align: center;
	background: #ff9900;
	color: #000000;
}

img {
	display: block;
	width: auto;
	margin: auto;
}

#about {
	text-align: center;
}