<div class="container">

	<h1>Editing Product</h1>

	<%= render 'form', product: @product %>

	<button><%= link_to 'Show', @product %></button>
	<button><%= link_to 'Back', products_path %></button>

</div>
