<div class="container-fluid anchor">

  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <div class="row">
  	<div class="col-sm-6 col-md-4">
   		<%= render @products %>
  	</div>
  </div>

<br>

  <%= link_to 'New Product', new_product_path %>

</div>